<section class="accueil">
  <div class="fenetre-retro">
    <header class="barre-fenetre">
      <span>brainbox.exe</span>

      <div class="boutons-fenetre">
        <button type="button">_</button>
        <button type="button">□</button>
        <button type="button">×</button>
      </div>
    </header>

    <div class="contenu-fenetre">
      <div class="bloc-mascotte">
        <img
        src="/images/mascotte-brainbox.jpg"
        alt="Mascotte BrainBox"
        class="mascotte"
        />
      </div>

      <div class="presentation">
        <p class="sur-titre">WELCOME TO</p>
        <h2>BrainBox</h2>

        <p class="slogan">
          Ton second cerveau pour enregistrer, retrouver et interroger
          tes connaissances techniques.
        </p>

        <div class="actions">
          <a routerLink="/connaissances" class="bouton-retro">
            📁 Voir les connaissances
          </a>

          <a routerLink="/assistant" class="bouton-retro bouton-rose">
            💬 Interroger BrainBox
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- <div class="cartes-accueil">
    <article class="carte-retro">
      <span class="icone">📚</span>
      <h3>Stocker</h3>
      <p>
        Enregistre tes commandes, solutions, erreurs et extraits de code.
      </p>
    </article>

    <article class="carte-retro">
      <span class="icone">🔍</span>
      <h3>Retrouver</h3>
      <p>
        Parcours facilement les connaissances déjà présentes dans BrainBox.
      </p>
    </article>

    <article class="carte-retro">
      <span class="icone">🤖</span>
      <h3>Interroger</h3>
      <p>
        Pose une question à ton assistant local alimenté par Ollama.
      </p>
    </article>
  </div>
</section> -->